<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Busqueda</title>
</head>

<body>

    <p style="color: blue;">Estamos buscando el: {{camada}}</p>

    {% if nombre %}

    <ul>
        {% for nombres in nombre %}
        <li>{{nombres.nombre}}</li>
        <li>{{nombres.camada}}</li>
        {% endfor %}
    </ul>

    {% endif %}

</body>

</html>